/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

  
  .content {
    min-width: 600px !important;
    position: relative !important;
    padding: 10px 5px 15px 10px !important;
    margin-left: 0;
    height: calc(100vh - 60px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    /* z-index:1200; */
  }
  


  .current-content {
    width:99% ;
    height: 60px;
    margin-left: 5px;

  }

  .content-name {
    line-height: 3rem;
    color:#66615b;
  }
  .add-item {

    float:right;
  }

  .add-item-label {
    display: inline-block; 
    padding: .5em .75em; 
    background-color: #5f73c4;
    color:white;
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    cursor: pointer; 
    border: 1px solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
    box-shadow: 0.1px 0.1px 3px #cccccc;
  }
  .add-item-button{
    position: absolute; 
    width: 1px; height: 
    1px; padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
  }
  .add-item-label:hover {
    background-color: #4f6ad4;
  }
 
  
  .current-items {
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom: 60px;
    border-radius: 10px  !important;
    background-color: white;
    box-shadow: 0 .125rem 0.45rem rgba(0,0,0,0.15) !important;
  }

  @media screen and (min-width: 200px) and (max-width: 800px){
   .current-items {
     min-width: 400px;
     /* min-width:fit-content !important;
     flex-basis: auto; 
     flex-grow: 2;
     display: inline-table !important; */

   }
   .item{

   }
  }

  .close-button{
    background-color: #4f6ad4;
    width : 200px;
   }

  .testtest{
     margin-left: 0%;
     font-size: 25px;
     min-width: 1000px;
   }
