<!DOCTYPE html>
 <html lang="en">
   <head>
     <script src="https://apis.google.com/js/platform.js?onload=rederButton" async defer></script> <!-- 구글에서 제공하는 로그인 라이브러리 -->
     <meta name="google-signin-client_id" content="34311588244-1m2ifu48kbs1pf9e9orb1513h8fs40bt.apps.googleusercontent.com">
   </head>
   <body>
     <form class="form-signin" method="POST" action="/api/login">
       <h1 class="h3 mb-3 font-weight-normal">로그인 테스트 화면</h1>
         <label for="inputId" class="sr-only">ID</label>
         <input type="text" id="username" name="username" class="form-control" placeholder="ID" autofocus="", required="required"/>
         </br></br>
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="password" pattern="[A-Za-z0-9]{7,15}", title="7자 이상 15자 이하로 입력해주세요.",
                name="password" class="form-control" placeholder="Password", required="required"/>
         <div class="checkbox mb-3">
             <label> <input type="checkbox" value="remember-me"> Remember me </label>
         </div>
             <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
         </form>
         {% if user.is_authenticated %}
         <form class="form-register" method="GET" action="/api/register">
             <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
         </form>
         {% endif %}
             <br>
             <div class="g-signin2" data-onsuccess="onSignIn"></div> <!-- 구글에서 제공하는 로그인 버튼. 로그인이 끝났을 때 onSignIn이라는 함수를 호출한다. -->
             <br><input type="button" onclick="signOut();" value="Sign out"/>
     </form>
   </body>
<script>
    function onSignIn(googleUser) {
        console.log("Sign in successful! Yay!");
        var profile = googleUser.getBasicProfile();

        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

    }
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
    }
</script>
</html>