.share-spinner{
    margin-top : 350%;
}

.sharing-team-modal{
    margin: 0 auto;
    min-height: 300px;
}

.sharing-modal-close-button{
    width : 100px;
    margin-left: 10px;
    margin-right: 10px;
}